/**ESTILOS GENERALES**/
*{
    margin: 0;
    padding: 0;
}

h2,h1{
    text-align: center;
}

/**BARRA DE NAVEGACION**/
.navbar{
    background: #aa1916;
}

.nav-link, .navbar-brand{
    color: white;
}

.nav-link:hover, .navbar-brand:hover{
    color: black;
}

.nav-item{
    text-align: center;
}

nav img{
    width: 3.5em;
    margin-right: 2%;
}

nav #menu{
    color: white;
    font-size: 2em;
}

.opciones{
    text-align: center;
    color: black;
    font-size: 15px;
}

.opciones:hover{
    background: #aa1916;
    color: white;
}

/**FOOTER**/
footer{
    background: #aa1916;
    padding: 1%;
}

footer p{
    text-align: center;
    color: white;
}

footer img{
    width: 30%;
    margin-left: 10%;
    margin-right: 9%;
}

footer img:hover{
    filter: grayscale(100%);
}

#imagen_central{
    width: 80%;
	display: block;
    margin: auto;
}

#panel_principal{
    margin: 3%;
    border: 3px solid gray;
}
